<!-- Fichier : views/pages/vocab_form.ejs -->

<%- include('../partials/header', { title: title }) %>

<div class="content content-black"> 
    
    <h2>Créer le QUIZ de niveau</h2>
    <form action="/quiz/search" method="POST" class="search-form">
        <input type="text" name="searchTerm" value="<%= searchTerm %>" placeholder="Entrer un niveau N4 N3 N2 N1">
        <button type="submit">Rechercher</button>
    </form>

<!-- data-nbquestion c'est le nombre ligne qui est envoyé à quiz.js-->
<div data-nbquestion="<%= results.length %>"> </div>

<!--  On affiche le tableau décomposé créer par quiz.js-->
<div id="affichage"></div>

<% if (results.length > 0) { %>
    <!-- NOUVEAU : On ajoute le conteneur autour du tableau -->
    <div class="results-table-container">
        <h3>Résultats pour "<%= searchTerm %>"</h3>
        
        <!-- NOUVEAU : On ajoute la classe "results-table" au tableau -->
        <table class="results-table">
            <thead>
              <tr>
                <th>Texte</th>
                <th>Question</th>
                <th>Bonne Réponse</th>
                <th>REP1</th>
                <th>REP2</th>
                <th>REP3</th>
                <th>REP4</th>
              </tr>
            </thead>
                <tbody>
                  <% results.forEach(result => { %>
                    <tr>
                      <td><%= result.TEXTE %></td>
                      <td><%= result.QUESTION %></td>
                      <td><%= result.REP_OK %></td>
                      <td><%= result.REP1 %></td>
                      <td><%= result.REP2 %></td>
                      <td><%= result.REP3 %></td>
                      <td><%= result.REP4 %></td>
                    </tr>
                  <% }) %>
                </tbody>
        </table>
    </div>
<% } else if (searchTerm) { %>
    <p>Aucun résultat trouvé pour "<%= searchTerm %>".</p>
<% } %>
</div>

<script src="/js/quiz.js"></script>>

<%- include('../partials/footer') %>